# Maven package Java project Web App to Linux on Azure
# Build your Java project and deploy it to Azure as a Linux web app
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

variables:

  # Azure Resource Manager connection created during pipeline creation
  azureSubscription: '356d35cd-1f15-4bf2-9708-70102712f85e'

  # Web app name
  webAppName: 'ansalemo-tomcat-maven-devops'

  # Environment name
  environmentName: 'ansalemo-tomcat-maven-devops'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build and Deploy
  displayName: Build and Deploy stage
  jobs:
  - job: MavenPackageAndPublishArtifacts
    displayName: Maven Package and Publish Artifacts
    pool:
      vmImage: $(vmImageName)

    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'mvn package azure-webapp:deploy'
          

  